CONDITIONS='DefaultStart'
DIFFICULTY='Normal'
LOCATION='MarsSpawnCanyonOverlook'
MAX_PLAYERS=6
PATH_INSTALL='/mnt/game-data/stationeers/steam'
PATH_SAVES='/mnt/game-data/stationeers/saves'
PORT_GAME=27016
PORT_UPDATE=27015
SAVE_NAME='MySave1'
SERVER_NAME='My Server Name'
SERVER_PASSWORD='CHANGEME'
SERVER_SECRET='CHANGEME'
STEAM_APP_ID=600760
WORLD_ID='Mars2'
